<div class="viewportSize transparent">
  <div class="centered-box">
    <teximate class="intro-title-1" [text]="introText1" [enter]="enterAnimation"></teximate>
    <teximate class="intro-title-2" [text]="introText2" [enter]="enterAnimation"></teximate>
    <teximate class="intro-title-3" [text]="introText3" [enter]="enterAnimation"></teximate>
    <div>
      <ul>
        <li>
          <button mat-mini-fab class="button">
            <img src="assets/gmail_logo.png" class="icon-button" alt="Bookmark">
          </button>
        </li>
        <li>
          <button mat-mini-fab class="button">
            <img src="assets/linkedin_logo.png" class="icon-button" alt="Bookmark">
          </button>
        </li>
        <li>
          <button mat-mini-fab class="button">
            <img src="assets/github_logo.png" class="icon-button" alt="Bookmark">
          </button>
        </li>
        <li>
            <button mat-mini-fab class="button">
              <mat-icon class="icon-button">info</mat-icon>
            </button>
          </li>
      </ul>
    </div>
  </div>
</div>
