.viewportSize {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.centered-box {
  margin: 0 auto;
  width: 50%;
}

.intro-title-1 {
  color: white;
  font-size: 35px;
  text-align: justify;
  text-align-last: center;
}

.intro-title-2 {
  color: Turquoise;
  font-size: 55px;
  text-align: justify;
  text-align-last: center;
  font-weight: 900;
}

.intro-title-3 {
  color: white;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 10%;
}

li button {
  display: block;
  text-decoration: none;
}
