/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-image: url('src/assets/background.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}